<div class="container text-center pb-20">
  <div class="row align-items-center border-bottom" style="padding-bottom:10px;padding-top: 10px;">
    <div class="col text-start">
      {{row['a']}} 
    </div>
    <div class="col text-start">
      {{row['b']}} 
    </div>
    <div class="col text-start">
      {{row['c']}} 
    </div>
    <div class="col text-start">
      {{row['d']}} 
    </div>
    <div class="col text-end">
      <button type="button" class="btn btn-outline-primary">Primary</button>
    </div>
  </div>
</div>